body {
    background: linear-gradient(to left, #6086ab, #ffffff); 
    min-height: 80vh; 
    
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
    color: #333;
}

/*  Navbar */
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

#hero {
    background: linear-gradient(to left, #6086ab, #ffffff); 
    min-height: 80vh; 
    display: flex; 
    align-items: center;
}

#hero img {
    border: 5px solid #0d6efd; 
}

.project-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    
}

.project-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15) !important; 
     background: linear-gradient(to left, #6086ab, #ffffff); 
    min-height: 80vh; 
}

footer a {
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #0d6efd !important; 
}
